@import url(font_s28jkcjez1pjh5mi/iconfont.css);
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    font-family: "microsoft YaHei";
    background: url(../images/bg1.jpeg) fixed;
    background-size: cover;
    font-size: 62.5%;
}
@mixin circle($val){       //public style for circular div
    border-radius: $val;
    -o-border-radius: $val;
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    -ms-border-radius: $val;
}

@mixin tran($val){               //public style for fliping vertical
    -ms-transform:rotateX($val);
    -moz-transform:rotateX($val);
    -webkit-transform:rotateX($val);
    -o-transform:rotateX($val);
    transform:rotateX($val);
}
@mixin colorch($a,$b,$c){        //public style for color changing slowly
    transition:$a $b $c;
    -ms-transition:$a $b $c;
    -o-transition:$a $b $c;
    -webkit-transition:$a $b $c;
    -moz-transition:$a $b $c;
}
@mixin shadow{
    box-shadow: 1px 1px 3px 3px #0a223a;
    -ms-box-shadow: 1px 1px 3px 3px #0a223a;
    -o-box-shadow: 1px 1px 3px 3px #0a223a;
    -webkit-box-shadow: 1px 1px 3px 3px #0a223a;
    -moz-box-shadow: 1px 1px 3px 3px #0a223a;
}
li{
    list-style: square;
}
a{
    text-decoration: none;
}
.navi{
    height: 78px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    .logo{
        width: 54px;
        height: 51px;
        margin: 1% 7% 0 3.5%;
        background: url(../images/sprite.png) no-repeat;
        background-position: 0 -165px;
        background-size: 115%;
        float: left;
    }
    .title{
        width: auto;
        height: auto;
        color: #00325d;
        font-size: 25px;
        font-size: 2.5rem;
        line-height: 78px;
        float: left;
    }
    .tabs{
        width:auto;
        height:auto;
        margin-top: 28px;
        float: right;
        .tab{
            width: auto;
            height: auto;
            margin-right: 30px;
            font-size: 13px;
            font-size: 1.3rem;
            color: #1b558b;
            float: left;
            cursor: pointer;
            @include colorch(color,0.3s,linear)
        }
        .tab:hover{
            color: #1bc1e2;
            @include colorch(color,0.3s,linear)
        }
    }
    .index{
        font-family: 'iconfont';
        font-size: 20px;
        font-size: 2.0rem;
        line-height: 78px;
        color: #1b558b;
        float: right;
        display: none;
        cursor: pointer;
    }
}
.vision{              //public class for fixed visual field
    width: 1150px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.SDD{                 //short for Subject Development Database
    width: 100%;
    height: 807px;
    margin-top: 78px;
    background: rgba(0,48,91,0.7);
    .con-sdd{
        width: auto;
        height: auto;
        margin-left: 60px;
        margin-top: 310px;
        color: #fff;
        p{
            font-size: 40px;
            font-size: 4.0rem;
        }
        span{
            font-size: 18px;
            font-size: 1.8rem;
            line-height: 25px;
        }
    }
}
.SDA{                //short for Subject Data Analysis
    width: 100%;
    height: 638px;
    background: #fff;
    .sda-l{
        width: 43%;
        height: 638px;
        background: #eaf4f6;
        float: left;
        .tit{
            width: 425px;
            font-size: 40px;
            font-size: 4.0rem;
            margin-top: 95px;
            color: #00315c;
            float: right;
        }
    }
    .sda-r{
        width: 57%;
        height: 638px;
        float: left;
        .con-sda{
            width: 555px;
            height: 500px;
            margin:75px auto 0 auto;
            color: #41b7c4;
            font-size: 30px;
            font-size: 3.0rem;
            position:relative;
            li{
                margin-top: 30px;
            }
            span{
                font-size: 20px;
                font-size: 2.0rem;
                color: #385f80;
            }
            p{
                font-size: 14px;
                font-size: 1.4rem;
                color: #527ea8;
                margin-top: 20px
            }
            .go1{
                top: 0;
                left: 160px;
            }
            .go2{
                top: 190px;
                left: 160px;
            }
            .go3{
                top: 337px;
                left: 184px;
            }
        }
    }
}
.go1,.go2,.go3{
     width: 40px;
     height: 40px;
     background: #2b6ca3;
     font-size: 16px;
     font-size: 1.6rem;
     color: #fff;
     position: absolute;
     text-align: center;
     line-height: 40px;
     font-weight: 600;
     cursor: pointer;
     @include circle(20px);
     @include colorch(background,0.3s,linear);
}
.go1:hover,.go2:hover,.go3:hover{
    background: #113c60;
    @include colorch(background,0.3s,linear);
}
.SSE{                  //short for Subject Service
    width: 100%;
    height: 810px;
    background: #00305b;
    overflow: hidden;
    .setit{
        margin: 100px auto 0 auto;
        color: #fff;
        font-size: 40px;
        font-size: 4.0rem;
        text-align: center;
        line-height: 40px;
        letter-spacing: 5px;
    }
    .cons{
        height: 555px;
        width: 903px;
        background: #eaf4f6;
        margin: 30px auto;
        overflow: hidden;
        .con{
            width: 721px;
            height: auto;
            margin: 50px auto 0 auto;
            color: #41b7c4;
            font-size: 30px;
            font-size: 3.0rem;
            position:relative;
            li{
                margin-top: 30px;
            }
            span{
                font-size: 20px;
                font-size: 2.0rem;
                color: #385f80;
            }
            p{
                font-size: 14px;
                font-size: 1.4rem;
                color: #527ea8;
                margin-top: 20px
            }
            .go1{
                top: 5PX;
                left: 120px;
            }
            .go2{
                top: 150px;
                left: 160px;
            }
            .go3{
                top: 300px;
                left: 160px;
            }
        }
    }
}
.BSW{                    //short for blank shadow
    height: 410px;
    width: 100%;
    background: rgba(0,48,91,0.4);
}
.SR{                     //short for Subject Resource
    height: 796px;
    width: 100%;
    background: #eaf4f6;
    overflow: hidden;
    position: relative;
    .cover{
        width: 950px;
        height: 754px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        .line{
            height: 754px;
            width: 1px;
            border-left: 2px solid #bdd9ef;
            position: absolute;
            top: 0;
            left: 23px;
        }
        p{
            text-align: center;
            margin-top: 116px;
            color: #001c4b;
            font-size: 40px;
            font-size: 4.0rem;
            letter-spacing: 5px;
        }
        .fsz20{
            font-size: 20px;
            font-size: 2.0rem;
        }
        .col16{
            font-size: 16px;
            font-size: 1.6rem;
            color: #0159ac;
        }
        .tit1{
            width: 170px;
            height: auto;
            text-align: center;
            margin-left: 60px;;
            float: left;
        }
        .des{
            width: 612px;
            height: auto;
            float: left;
            margin-left: 50px;
        }
        .SD{                //short for Subject Database
            width: 910px;
            height: 70px;
            margin-top: 50px;
            color: #1a456b;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            font-size: 1.6rem;
        }
        .find{
            width: 910px;
            height: 130px;
            color: #1a456b;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            font-size: 1.6rem;
        }
        .books{
            width:910px;
            height: 140px;
            color: #1a456b;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            font-size: 1.6rem;
        }
        .pearson{
            width: 910px;
            height: 140px;
            color: #1a456b;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            font-size: 1.6rem;
        }
        .arrow1{
            width: 46px;
            height: 46px;
            background: url(../images/sprite.png) no-repeat;
            background-position: 0 -170px;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            @include circle(23px);
        }
        .arrow1:hover{
            background-position: 0 -227px;
        }
    }
}
.CU{                       //short for Contact Us
    width: 100%;
    height: 724px;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    .cu-l{
        width: 43%;
        height: 100%;
        background: rgba(0,48,91,0.9);
        float: left;
        .name{
            width: 446px;
            height: auto;
            float: right;
            margin-top: 130px;
            color: #fff;
            font-size: 30px;
            font-size: 3.0rem;
            p{
                font-size: 40px;
                font-size: 4.0rem;
                line-height: 55px;
            }
        }
    }
    .cu-r{
        width: 57%;
        height: 100%;
        background: rgba(0,48,91,0.7);
        float: left;
        .add{
            width: 500px;
            height: 300px;
            margin: 130px auto 0 140px;
            color: #fff;
            font-size: 18px;
            font-size: 1.8rem;
            p{
                line-height: 25px;
            }
            a{
                color: #97d9de;
            }
            .btn{
                width: 100px;
                height: 40px;
                background: #0760bd;
                border: none;
                cursor: pointer;
                color: #fff;
                @include shadow;
                @include circle(4px);
            }
        }
        .icon1,.icon2,.icon3{
            width: 23px;
            height: 23px;
            margin-top: 190px;
            background: url(../images/sprite.png) no-repeat;
            float: left;
            cursor: pointer;
        }
        .icon1{
            margin-left: 140px;
        }
        .icon2{
            margin-left: 4px;
            background-position: 0 -33px;
        }
        .icon3{
            margin-left: 4px;
            background-position: 0 -87px;
        }
    }
}
.top{
    height: 79px;
    width: 100%;
    background: #00305b;
    overflow: hidden;
    .btt{
        width:100px;
        height:auto;
        margin:0 auto;
        cursor: pointer;
    }
    .arrow{
        width: 20px;
        height: 15px;
        margin: 15px auto; 
        background: url(../images/sprite.png) no-repeat;
        background-position: 0 -65px;
        @include tran(180deg);
    }
    P{
        color: #FFF;
        font-size: 12px;
        font-size: 1.2rem;
        text-align: center;
    }
}
.CM{               //short for company name
    width: 100%;
    height: 107px;
    background: rgba(0,48,91,0.4); 
    overflow: hidden;
    p{
        text-align: center;
        color: #0e5998;
        margin-top: 26px;
        font-size: 16px;
        font-size: 1.6rem;
    }
}
.shadow{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    
}
.map{
    width: 90%;
    height: 90%;
    position: fixed;
    left: 5%;
    top: 5%;
    display: none;
    z-index: 1000;
}
.close{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 40px;
    font-size: 4.0rem;
    text-align: center;
    line-height: 35px;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1001;
//    display:none;
    @include circle(20px);
    cursor: pointer;
}
#allmap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width:960px){
    .navi .logo{
        background-size: 100%;
        background-position: 0 -140px;
    }
    .navi .index{
        display: block;
        margin-right: 5%;
        font-size: 2.5rem;
    }
    
    .navi .tabs{
//        display: none;
        float: none;
    }
    .index.h + .tabs{
        display: none;
    }
    .navi .tabs .tab{
        background: rgba(0,48,91,0.9);
        color: #fff;
        float: none;
        clear: both;
        width: 100%;
        text-align: center;
        font-size: 2.0rem;
        line-height: 40px;
    }
    .vision{
        width: auto;
    }
    .SDD{
        height: auto;
    }
    .SDD .con-sdd{
        margin: 10% 10%;
    }
    .SDA{
        height: auto;
    }
    .SDA .sda-l{
        width: 100%;
        height: auto;
        overflow: hidden;
        float: none;
    }
    .SDA .sda-l .tit{
        width: auto;
        margin: 10%;
        float: none;
            
    }
    .SDA .sda-r{
        width: 100%;
        height: auto;
        overflow: hidden;
        float: none;
    }
    .SDA .sda-r .con-sda{
        width: 80%;
        height: auto;
        margin:  75px auto 75px auto;
        font-size: 2.5rem;
    }
    .SDA .sda-r .con-sda span{
        font-size: 2.5rem;
    }
    .SDA .sda-r .con-sda p{
        font-size: 1.4rem;
    }
    .SDA .sda-r .con-sda .go1{
        left: 200px;
    }
    .SDA .sda-r .con-sda .go2{
        left: 200px;
        top: 36%
    }
    .SDA .sda-r .con-sda .go3{
        left: 240px;
        top: 64%;
    }
    .SSE{
        height: auto;
    }
    .SSE .setit{
        margin:10% auto;
        font-size: 4.0rem;
    }
    .SSE .cons{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .SSE .cons .con{
        width: 95%;
        margin-left: 5%;
    }
    .SSE .cons .con .go1{
        left: 200px;
    }
    .SSE .cons .con .go2{
        left: 230px;
        top: 34%;
    }
    .SSE .cons .con .go3{
        left: 230px;
        top: 73%;
    }
    .SSE .cons .con li{
        margin: 5%;
    }
    .SSE .cons .con span{
        font-size: 2.5rem;
    }
    .SSE .cons .con p{
        font-size: 1.4rem;
    }
    .BSW{
        height: 10%;
    }
    .SR{
        height: auto;
    }
    .SR .cover{
        width: 100%;
        height: auto;
    }
    .SR .cover p{
        font-size: 4.0rem;
        margin: 10%;
    }
    .SR .cover .line{
        display: none;
    }
    .SR .cover .arrow1{
        display: none;
    }
    .SR .cover .SD,.SR .cover .find,.SR .cover .books,.SR .cover .pearson{
        width: 100%;
        height: auto;
    }
    .SR .cover .tit1{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
    .SR .cover .des{
        width: 90%;
        height: auto;
        float: none;
        margin: 5% auto;
        font-size: 1.4rem;
    }
    .SR .cover .fsz20{
        font-size: 2.5rem;
    }
    .CU{
        height: auto;
    }
    .CU .cu-l,.CU .cu-r{
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .CU .cu-l .name{
        width: auto;
        height: auto;
        margin: 10%;
        float: none;
    }
    .CU .cu-r .add{
        width: auto;
        height: auto;
        margin: 10%;
        font-size: 2.0rem;
    }
    .CU .cu-r .add p{
        line-height: 50px;
    }
    .CU .cu-r .icon1,.CU .cu-r .icon2,.CU .cu-r .icon3{
        width: 46px;
        height: 46px;
        margin-left: 10%;
        margin-top: 0;
        margin-bottom: 10%;
        background-size: 200%;
    }
    .CU .cu-r .icon2{
        background-position: 0 -68px;
    }
    .CU .cu-r .icon3{
        background-position: 0 -178px;
    }
    .top{
//        display: none;
        width: 40px;
        height: 40px;
        position: fixed;
        right: 3%;
        bottom: 10%;
        background: rgba(0,48,91,0.7)
    }
    .top.h{
        display: none;
    }
    .top .btt{
        width: auto;
    }
    .top p{
        display: none;
        font-size: 2.4rem;
    }
    
}